<div class="header">
   
         @if (mostrarHeader) {
        @if (usuario && usuario.rol === 'admin') {
          <app-header-admin></app-header-admin>
        } @else if (isUser) {
          <app-header-user></app-header-user>
        } @else {
          <app-header></app-header>
        }
      }
    </div>
        
    <router-outlet></router-outlet>
 <!--
      @if (mostrarHeader) {
        @if (usuario && usuario.rol === 'admin') {
          <app-header-admin></app-header-admin>
        } @else if (isUser) {
          <app-header-user></app-header-user>
        } @else {
          <app-header></app-header>
        }
      }
    </div>
    -->