@if (show) {
  <div class="modal-overlay">
    <div class="modal-content">
      <h2>
        {{
          isReservePast(fecha ?? '', hora)
            ? getText('Borrar Reserva', 'Delete Reserve')
            : getText('Anular Reserva', 'Cancel Reserve')
        }}
      </h2>
      <div class="modal-body">
  @if (!isReservePast(fecha ?? '', hora)) {
    <h5 style="color: #000000;">{{ getText('¿Estás seguro que deseas anular esta reserva?', 'Are you sure you want to cancel this reservation?') }}</h5>
  }
  <div class="reservation-details">
    <div class="vehicle-image-wrapper">
      <img [src]="imagen" alt="" class="vehicle-image">
      <span class="status-badge">PENDIENTE</span>
    </div>

    <div class="details-grid">
      <div class="detail-item">
        <span class="detail-label">{{ getText('MARCA:', 'BRAND:') }}</span>
        <span class="detail-value">{{ marca }}</span>
      </div>
      <div class="detail-item">
        <span class="detail-label">{{ getText('MODELO:', 'MODEL:') }}</span>
        <span class="detail-value">{{ modelo }}</span>
      </div>
      <div class="detail-item">
        <span class="detail-label">{{ getText('AÑO / KM:', 'YEAR / KM:') }}</span>
        <span class="detail-value">{{ year }} · {{ km }} km</span>
      </div>
      <div class="detail-item">
        <span class="detail-label">{{ getText('FECHA / HORA:', 'DATE / HOUR:') }}</span>
        <span class="detail-value">{{ fecha }} · {{ hora }}</span>
      </div>
      @if(usuario_rol?.rol == "admin") {
        <div class="detail-item full-width">
          <span class="detail-label">{{ getText('USUARIO:', 'USER:') }}</span>
          <span class="detail-value">{{ nombreUsuario }} {{ apellidoUsuario }}</span>
        </div>
      }
    </div>
  </div>
</div>
      <div class="modal-actions">
        <button class="btn-confirm" (click)="onCancel()">{{ getText('Cancelar', 'Cancel') }}</button>
        <button class="btn-cancel" (click)="onConfirm()">
          {{
            isProcessing
              ? getText('Procesando...', 'Processing...')
              : (isReservePast(fecha ?? '', hora)
                  ? getText('Borrar', 'Delete')
                  : getText('Anular', 'Cancel'))
          }}
        </button>
      </div>
    </div>
  </div>
}