@if (show) {
  <div class="modal-overlay">
    <div class="modal-content">
      <h2>
        {{
          isReservePast(fecha ?? '', hora)
            ? getText('Borrar Reserva', 'Delete Reserve')
            : getText('Anular Reserva', 'Cancel Reserve')
        }}
      </h2>
      <div class="modal-body">
        @if (!isReservePast(fecha ?? '', hora)) {
          <h5>{{ getText('¿Estás seguro que deseas anular esta reserva?', 'Are you sure you want to cancel this reservation?') }}</h5>
        }
        <div class="reservation-details">
          <p><strong>{{ getText('Peluquero:', 'Barber:') }}</strong> {{ peluquero }}</p>
          <p><strong>{{ getText('Servicio:', 'Service:') }}</strong> {{ servicio }}</p>
          <p><strong>{{ getText('Fecha:', 'Date:') }}</strong> {{ fecha }}</p>
          <p><strong>{{ getText('Hora:', 'Hour:') }}</strong> {{ hora }}</p>
          <p><strong>{{ getText('Usuario:', 'User:') }}</strong> {{ nombreUsuario }} {{apellidoUsuario}} </p>
        </div>
      </div>
      <div class="modal-actions">
        <button class="btn-confirm" (click)="onCancel()">{{ getText('Cancelar', 'Cancel') }}</button>
        <button class="btn-cancel" (click)="onConfirm()">
          {{
            isProcessing
              ? getText('Procesando...', 'Processing...')
              : (isReservePast(fecha ?? '', hora)
                  ? getText('Borrar', 'Delete')
                  : getText('Anular', 'Cancel'))
          }}
        </button>
      </div>
    </div>
  </div>
}